---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Fallapp">
	<main>
		<h1>Falla Artes y Oficios - Actor Llorens</h1>
		<Card
				href="https://docs.astro.build/"
				title="Últimas noticias"
				body="Vamos a hacer una app de las hostia"
			/>
	</main>
</Layout>

